<extend name="Base/common" />

<block name="body">
 
  <div class="span9 page_message">
     
    <section id="contents">
        <ul class="tab-nav nav">
            <li class=""><a href="{:U('Jxyueche/jxyc_index')}">驾校约车</a></li>
            <li class=""><a href="{:U('Jxyueche/jxueyuan_list')}">学员管理</a></li>
            <li class="current"><a href="javascript:void(0)">学员信息编辑</a></li>
        </ul>
    <div class="tab-content"> 
	  <form action="{:U('Jxyueche/jxueyuan_update',array('mdm'=>I('mdm'),'id'=>$list[0]['id']))}" method="post" >
	      <volist name="list" id="vo">
	      <input type="hidden" class="text input-large" name="id" value="{$vo.id}">
        <div style="width:100%;">
          <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag">* </span>编号：  </label>            
            <input type="text" class="text input-large" name="id" value="{$vo.id}" style="border-radius: 5px;background-color: #e5e5e5;
          cursor: not-allowed;float: right;width: 344px;" disabled="disabled"> 
        </div>
        <div style="width:47%;float: left;">
            <label><span class="need_flag">* </span>姓名：</label>               
            <input type="text" class="text input-large" name="xname" value="{$vo.xname}"
            style="border-radius: 5px;float: right;width: 344px;"><br>
        </div>
        </div>
       <div style="width:100%;">
          <div style="width:47%;margin-right: 20px;float: left;">
             <label style="margin-right: 120px;"><span class="need_flag">* </span>性别： </label>              
	             	<input type="radio" class="text input-large" name="xsex" value="1"
		             <if condition="$list[0]['xsex']==1">checked='checked'</if>>&nbsp;男 &nbsp;
		             <input type="radio" class="text input-large" name="xsex" value="2" <if condition="$list[0]['xsex']==2">checked='checked'</if>>&nbsp;女 
             
          </div>
         <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag">* </span>籍贯：</label>               
            <input type="text" class="text input-large" name="xaddr" value="{$vo.xaddr}" style="border-radius: 5px;float: right;width: 344px;" > 
        </div>
      </div>	  
     <div style="width:100%;">
	      <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag">* </span>手机号： </label>               
            <input type="text" class="text input-large" name="xphone" value="{$vo.xphone}" style="border-radius: 5px;float: right;width: 344px;" > 
        </div>
        <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag">* </span>身份证号：  </label>              
            <input type="text" class="text input-large" name="xcard" value="{$vo.xcard}" style="border-radius: 5px;float: right;width: 344px;"> 
        </div>
      </div>
       <div style="width:100%;">
<!--          <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag">* </span>学员编号：   </label>             
            <input type="text" class="text input-large" name="xbh" value="{$vo.xbh}" style="border-radius: 5px;float: right;width: 344px;"> 
        </div> -->
        <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag">* </span>现住址： </label>               
            <input type="text" class="text input-large" name="xnow_addr" value="{$vo.xnow_addr}" style="border-radius: 5px;float: right;width: 344px;" > 
        </div>
		    <div style="width:47%;margin-right: 20px;float: left;">
            <label><span class="need_flag"> </span>备注：  </label>             
            <input type="text" class="text input-large" name="xmark" value="{$vo.xmark}" style="border-radius: 5px;float: right;width: 344px;" > 
        </div>
      </div>
     </volist>					 
        <div class="form-item form_bh">
            <input type="submit" class="btn" value="确定">
            <a href="{:U('Jxyueche/jxueyuan_list')}" class="btn">返回</a>
         </div>     
	     </form>	
            </div>
           </div>
      </section>
	
  </div>
</block>

<block name="script">
<link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<php>if(C('COLOR_STYLE')=='blue_color') echo '
<link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    ';</php>
<link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
<script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script> 
<script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
<script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){

	initUploadFile(function(data,name){
		var old_title = $('#title').val();
		if(old_title==''){
			var data = $.parseJSON(data);
			var title = data.name.replace('.'+data.ext, '');
			$('#title').val(title);		
		}
	});
    showTab();
	
});
</script> 
</block>
