<extend name="Base/common" />

 <block name="body">
 <style>
 	label{float: left;width: 100px;}
 	li,ul{list-style: none;}
    .line{margin-bottom: 39px;border-bottom: 1px solid #ddd;line-height: 38px;}
    .bottom{position: absolute;bottom: 0;}
     .tab-nav{margin-bottom: 0;}
     .form_bh {padding: 20px 0 0;margin: 0;}
 </style>
 <script src="__PUBLIC__/static/jquery-1.10.2.min.js" type="text/javascript"></script>
  <div class="span9 page_message">  
    <section id="contents">
    <ul class="tab-nav nav">
        <li class="current"><a href="javascript:void(0)">退款详情</a></li>
    </ul>
    <div class="tab-content" style="padding: 20px 40px;"> 

     <li class="line" style="border-bottom: none;"> 
        
        <div style="width:48%;float: left;">
            <label>微信订单号：</label>
            <span style="width: 344px;float: right;">{$list['transaction_id']}</span> 
        </div>
        <div style="width:48%;margin-right: 20px;float: left;">
            <label style="margin-left: 20px;">商户订单号： </label>
            <span style="width: 344px;float: right;">{$list['out_trade_no']}</span>
        </div>
    </li>
    <li class="line">
        <div style="width:48%;margin-right: 20px;float: left;">
            <label>预约车号：</label>            
            <span style="width: 344px;float: right;">{$list['pch']}</span> 
        </div>
        <div style="width:48%;margin-right: 20px;float: left;">
            <label>预约日期： </label>
            <span style="width: 344px;float: right;" id="pdata">{$list['pdata']}</span>
        </div>
    </li>
    <li class="line">       	  
        <div style="width:48%;margin-right: 20px;float: left;">
            <label>预约时间段：  </label>
           	<span style="width: 344px;float: right;">
                <?php 
                    $arr = explode(',',$list['ptime']);
                    foreach($arr as $v){
                ?>
                    <p class="ptime"><?php echo $v; ?></p>
                <?php
                    }
                ?>
            </span>
        </div>
         <div style="width:48%;margin-right: 20px;float: left;">
            <label>订单总金额：   </label>
				<span style="width: 344px;float: right;">
					￥{$list['money']}
				</span>
        </div>
     </li>
    <li class="line">
        <div style="width:48%;margin-right: 20px;float: left;">
            <label>扣除手续费：  </label>
            <span style="width: 344px;float: right;">￥<span class="xu"></span></span>
        </div>
		<div style="width:48%;margin-right: 20px;float: left;">
            <label>应退金额：   </label>
             <span style="width: 344px;float: right;">￥ <span class="tui"></span></span>
        </div>	
   	 </li>
    <li class="line">                     
        
        <div style="width:48%;margin-right: 20px;float: left;">
            <label>下单时间：  </label>
             <span style="width: 344px;float: right;">{$list['daddtime']}</span>
        </div>
    </li>
    <li class="line">
        <div style="width:48%;margin-right: 20px;float: left;">
            <label>退款说明：  </label>
             <span style="width: 344px;float: right;line-height: 45px"><input type="text" style="display:block;border:none;width:100%;margin-top:3px;" name="twark" id="twark" placeholder="请填写退款原因（退款必填项！）"></span>
        </div>
    </li>
    <input type="hidden" name="id" id="id" value="{$list['id']}">		 
    <div class="form-item form_bh"><a class="btn">提交申请</a></div>     
    </div>
    </div>
    </section>
</div>
<script type="text/javascript">

    var pdata = $('#pdata').html();
    pdata = pdata.replace(/-/g,'/');// 将-替换成/，因为下面这个构造函数只支持/分隔的日期字符串

    var time = $('.ptime').eq(0).text();
    var ptime = time.substring(0, 5);
    var datatime = pdata + ' ' +ptime;

    //获取预约用车的时间戳(S为单位)
    var timestamp2 = Date.parse(new Date(datatime));            
    timestamp2 = parseInt(timestamp2 / 1000); 
    // 获取当前时间戳(以s为单位)  
    var timestamp = new Date().getTime();           
    timestamp = parseInt(timestamp / 1000); 

    var timecha=timestamp2-timestamp;

    var zongshu ={$list['money']};
    if(timecha>43200){
        $(".tui").text(zongshu);
  
        $(".xu").text(0)
    }else if(timecha<43200&&timecha>21600){
        $(".xu").text(zongshu*5/100)
        var tui = zongshu-zongshu*5/100;
        $(".tui").text(tui);
    }else if(timecha>3600&&timecha<21600){
        $(".xu").text(zongshu*20/100)
        var tui = zongshu-zongshu*20/100;
        $(".tui").text(tui);
    }else if(timecha<=3600){
        //alert("半小时之内不予退款!");
        //return false;
        $(".xu").text(zongshu)
        $(".tui").text(0);
    }
    $('.btn').click(function(){
        var id = $('#id').val();
        var twark = $('#twark').val();//退款说明
        var koufei = $(".xu").text();//扣费
        var refund_fee=$(".tui").text();//应退金额
        if(refund_fee==0){
            alert("1小时以内不予退费!");
            return false;
        }
        if(twark == ''){
            alert('退费原因不能为空!');
            return false;
        }
        if(id){
            $.ajax({
                type:"post",
                //url:"{:addons_url('Forms://Wap/addtuikuan')}",
                url:'{:U("Jxyueche/tijiao_tuikuan")}',
                data:{id:id,twark:twark,refund_fee:refund_fee,koufei:koufei},
                dataType:"json",
                success:function(result){
                    // document.write(result)
                    if(result.status == 0){
                        alert(result.msg);
                    }else{
                        alert('退款申请已提交');
                        window.location.href = result.url;
                    }
                }
            });
        }
    });
</script>
</block>
