body{padding:0;margin:0;font-size:14px;font-family:"微软雅黑";background: #fff;}
ul,li{list-style: none;}
a{text-decoration: none;}
.car {height:40px;}
.sub{padding:15px;}
.car_date,.car_all{display: inline-block;}
.car_date{margin-right:30px;}
label{float: left;margin-right: 20px;line-height: 34px;}
.form-control{float: left;width:8%;margin-right: 50px;}
#control_date{height: 34px;}
th{background: #f5f5f5;}
.copy_span{margin-left: 5px;}
.car_all{line-height: 34px;height: 34px;}
th,td{text-align: center;font-weight: 500;}
td input{width: 15px;height: 15px;}
table{display: block;border-right: none;border: none}
/*table{height:600px;overflow-y: auto;display: block;width: 600px;overflow-x: auto;}*/
.copy_all{width:15px;height: 15px;}
table td,table th {
width: 55px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{padding: 4px;}
/*#table_date{width: 1160px;}*/
.bottom{display: none;}
/*.table tr{background-color: white;}*/