<extend name="Base/common" />
<block name="body">
	<link rel="stylesheet" type="text/css" href="__STATIC__/dingdan/css/jquery.datetimepicker.css" />
  <!-- <link rel="stylesheet" type="text/css" href="__STATIC__/fabu/css/body.css" /> -->
  <script type="text/javascript" src="__STATIC__/dingdan/js/jquery.min.js"></script>
  <script type="text/javascript" src="__STATIC__/dingdan/js/jquery.datetimepicker.js"></script>
  <div class="span9 page_message">
    <section id="contents"> <include file="Addons/_nav" />

      <!-- 数据列表 -->
      <div class="data-table" style="margin-top:20px;">
      
        <!-- <div class="table-striped">
        <div style="padding-bottom: 20px;padding-left: 15px;">
        <a class="btn" href="{:U('jiaolian_add',array('mdm'=>I('mdm')))}">新 增</a>
        </div>  
        </div> -->
          <input type="text" value="{$data}" id="datetimepicker9" style="width: 140px;"/>
          <a class="btn" style="margin-bottom: 8px;" id="search_btn">搜索</a>
          <a class="btn" style="margin-bottom: 8px;" id="s_delete">删除</a>
          <span style="margin:0px 0px 0px 200px;font-size:30px;color:blue;">驾校排班列表</span>
       </div>
       <script type="text/javascript">
         $('#search_btn').click(function(){
            var data = $('#datetimepicker9').val();
            if(data == ''){
              alert('请选择要搜索的日期')
            }else{
              //var url = "http://yueche.siwoinfo.com/index.php?s=/Home/Paiban/paiban_list/data/"+data;
              var skip_url =   "http://" + window.location.hostname + window.location.pathname;
              var url = skip_url + "?s=/Home/Paiban/paiban_jiaxiao_list/data/"+data;

              $('#search_btn').attr('href',url);
            }
         });

       </script>

       
		<div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                <th>
                  <input id="CheckAll" name='CheckAll' type='checkbox'>
                  <span class="copy_span">全选</span>
                </th>
                <th>编号</th>
                <th>车辆编号</th>
      				  <th>日期</th>
                <th>时间段</th>
                <th>备注</th>
                <th>操作</th>
              </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
              <volist name="paiban_list" id="vo">
                <tr>
                  <td type="headimgurl">
                    <input id='Check[]' name='Check[]' type='checkbox'  value="{$vo.id}">
                  </td>
                  <td type="headimgurl">{$vo.id}</td>
                  <td type="content">{$vo.ch}</td>
                  <td >{$vo.data}</td>
                  <td >{$vo.time}</td>
                  <!-- <td >{$vo.mark}</td> -->
                  <td >驾校预约</td>
      				    <td>
                    <a href="{:U('paiban_edit',array('id'=>$vo[id],'mdm'=>$_GET['mdm']))}">编辑</a> |
                    <!-- <a href="{:U('paiban_del',array('id'=>$vo[id],'mdm'=>$_GET['mdm']))}" class="del">删除</a> -->
                    <a href="javascript:void(0)" class="del">删除</a>
                  </td>
                </tr>
              </volist>
            </tbody>
          </table>
        </div>
      </div>
      </if>
      <div class="page"> {$_page|default=''} </div>
    </section>
  </div>

</block>
<block name="script"> 
<script type="text/javascript">
    //多选删除
    $("#CheckAll").bind("click",function(){           
        $("input[name='Check[]']").prop("checked",this.checked);
            
    });

    //获取被选中checkbox值
    var checked = function(){
      var checks = $("input[name='Check[]']:checked");
      if(checks.length == 0){ alert('未选中任何项！');return false;}
          
      var checkData = new Array();
      checks.each(function(){ 
         checkData.push($(this).val()); 
      });
      return checkData;
    };

    //批量删除 
    $("#s_delete").click(function(){
      
      if(val = checked()){    
          if(confirm('确定要删除所选吗?'))
          {    
              $.ajax({

                  type     :  "POST",
                  url      :  "{:U('paiban_select_del')}",
                  data     :  {del_id:val},
                  dataType :  "json",
                  success  :  function(data){
                               if(data == 2){
                                    alert('删除成功!');
                                    window.location.reload();
                                }else if(data == 1){
                                    alert('所选时间段已被预约或在退款审核中禁止删除!');
                                    return false;
                                }else{
                                    alert('删除失败!');
                                    return false;
                                }
                  }
              });
         }
      } 
    }); 



//单选删除
$('.del').on('click',function(){
  if(confirm('确定要删除所选吗?')){ 
      var delete_id = $(this).parent().parent().children('td').eq(1).html();   
      $.ajax({

          type     :  "POST",
          url      :  "{:U('paiban_del')}",
          data     :  {id:delete_id},
          dataType :  "json",
          success  :  function(data){
                          if(data == 2){
                              alert('删除成功!');
                              window.location.reload();
                          }else if(data == 1){
                              alert('该时间段已被预约或在退款审核中禁止删除!');
                              return false;
                          }else{
                              alert('删除失败!');
                              return false;
                          }

          }
      });
   }
})
  
  function playSound(id,obj){
  	var audio = document.getElementById(id);
  	if(audio.paused){
  		audio.play();
  		$(obj).find('img').attr('src',IMG_PATH+'/icon_sound_play.gif');
  		audio.addEventListener('ended', function () {  
  // 			alert('over');
  			$(obj).find('img').attr('src',IMG_PATH+'/icon_sound.png');
  		}, false);
  		return;
  	}
  	audio.pause();
  	$(obj).find('img').attr('src',IMG_PATH+'/icon_sound.png');
  	
  }
$('#datetimepicker9').datetimepicker({
		 lang:"ch", //语言选择中文 注：旧版本 新版方法：$.datetimepicker.setLocale('ch');
      format:"Y-m-d",      //格式化日期
      timepicker:false,    //关闭时间选项
});
</script> 
<script type="text/javascript">
    $('.tab-nav li').css('position', 'relative');
    function mh (ele,txt1,txt2,hr1,hr2){
      ele.hover(function() {
          $("<div style='position: absolute;left: 0;top:40px;width: 130px; height: 80px;' class='box'>" +
              "<a href="+hr1+" style='width:100%;height:40px;line-height:40px;color:#fff;text-align:center;cursor:pointer;border-bottom:1px solid #fff;display:block;background: rgba(138,138,138,.5)'>"+txt1+"</a>" + "" +
              "<a href="+hr2+" style='width:100%;height:40px;line-height:40px;color:#fff;text-align:center;cursor:pointer;display:block;background: rgba(138,138,138,.5)'>"+txt2+"</a>" +
              "</div>").appendTo($(this));
          $('.box a').hover(function(){
              $(this).css({'background':'rgba(0,0,0,.7)','color':'#eee'})
          },function(){
              $(this).css({'background':'rgba(138,138,138,.5)','color':'#fff'})
          })
      }, function() {
          $('div').remove('.box')
      }) 
    }
    mh($('.tab-nav li').eq(0),"学员排班发布","驾校排班发布","{:U('paiban_index')}","{:U('paiban_jiaxiao')}");
    mh($('.tab-nav li').eq(1),"学员排班列表","驾校排班列表","{:U('paiban_list')}","{:U('paiban_jiaxiao_list')}");
    mh($('.tab-nav li').eq(2),"学员排班统计表","驾校排班统计表","{:U('tongji_list')}","{:U('tongji_jiaxiao_list')}");
</script>
</block>
