<extend name="Base/common" />

 <block name="body">
 <style>
  label{float: left;width: 100px;}
  li,ul{list-style: none;}
    /*.line{margin-bottom: 39px;border-bottom: 1px solid #ddd;line-height: 38px;}*/
    .line{margin-bottom: 65px;border-bottom: 1px solid #ddd;line-height: 38px;}
    .bottom{position: absolute;bottom: 0;}
     .tab-nav{margin-bottom: 0;}
     .form_bh {padding: 20px 0 0;margin: 0;}
 </style>
  <div class="span9 page_message">  
    <section id="contents"> <include file="Addons/_nav" />
       <div class="tab-content" style="padding: 20px 40px;"> 

          <li class="line" style="border-bottom: none;"> 
            <div style="margin-right: 20px;float: left;">
                <label>日期：</label>            
                <span>{$list[0]['data']}</span> 
            </div>
          </li>
          <li class="line">   
              <div style=";margin-right: 20px;float: left;">
                 <label>车号： </label>
                    <span>{$list[0]['ch']}</span>
              </div>
          </li>
          <li class="line">           
            <div style="margin-right: 20px;float: left;">
                <label>发布时间段：  </label>
                <span>{$list[0]['fabushijian']}</span>
            </div>
          </li>
          <li class="line"> 
              <div style="margin-right: 20px;float: left;">
                  <label>预约时间段：  </label>
                   <span>{$list[0]['yuyueshijian']}</span>
              </div>
          </li>
          <li class="line"> 
              <div style="margin-right: 20px;float: left;">
                  <label>预约时长：  </label>
                   <span>{$list[0]['shichang']} 小时</span>
              </div>
          </li>
    
          <div class="form-item form_bh">
            <a href="{:U('paiban/tongji_list')}" class="btn">返回</a>
          </div>     
          </div>
          </div>
      </section>
  
  </div>
</block>

<block name="script">
  <link href="__STATIC__/datetimepicker/css/datetimepicker.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <php>if(C('COLOR_STYLE')=='blue_color') echo '
    <link href="__STATIC__/datetimepicker/css/datetimepicker_blue.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
    ';</php>
  <link href="__STATIC__/datetimepicker/css/dropdown.css?v={:SITE_VERSION}" rel="stylesheet" type="text/css">
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/bootstrap-datetimepicker.js"></script> 
  <script type="text/javascript" src="__STATIC__/datetimepicker/js/locales/bootstrap-datetimepicker.zh-CN.js?v={:SITE_VERSION}" charset="UTF-8"></script> 
  <script type="text/javascript">
$('#submit').click(function(){
    $('#form').submit();
});

$(function(){

  initUploadFile(function(data,name){
    var old_title = $('#title').val();
    if(old_title==''){
      var data = $.parseJSON(data);
      var title = data.name.replace('.'+data.ext, '');
      $('#title').val(title);   
    }
  });
    showTab();
  
});
</script> 
</block>
