<extend name="Base/common" />
<block name="body">
  <div class="span9 page_message">
  
    <section id="contents"> <include file="Addons/_nav" />

      <!-- 数据列表 -->
      <div class="data-table" style="margin-top:20px;">
      
        <div class="table-striped">
            <div style="padding-bottom: 5px;padding-left: 20px;">
                <a class="btn" href="{:U('jiaolian_add',array('mdm'=>I('mdm')))}" style="margin-bottom: 10px;padding: 8px 15px;margin-left: -20px;">新 增</a>
                <a class="btn jl_chaxun" href="javascript:void(0)" style="margin-bottom: 10px;padding: 8px 15px;">查 询</a>
                <input type="text" name="jl_name" id="jl_name" placeholder="请输入要查询教练的名字" value="{$jl_name}">
            </div>  
        </div>
      </div>
		<div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
                <tr>
                    <th>编号</th>
                    <th>姓名</th>
          			    <!-- <th>性别</th> -->
                    <th>身份证号</th>
                    <th>教练证号</th>
                    <!-- <th>驾驶证号</th> -->
                    <!-- <th>驾龄</th> -->
                    <th>联系方式</th>
          				  <th>操作</th>
                </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
              <volist name="jiaolian_list" id="vo">
                <tr>
                    <td type="headimgurl">{$vo.id}</td>
                    <td type="content">{$vo.jname}</td>
                    <!-- <td >{$vo.jsex}</td> -->
                    <td >{$vo.jcard}</td>
                    <td >{$vo.tbh}</td>
                    <!-- <td >{$vo.jbh}</td> -->
                    <!-- <td >{$vo.jl}</td> -->
      				      <td >{$vo.jphone}</td>
      				      <td>
					            <a href="{:U('jiaolian_look',array('id'=>$vo[id],'mdm'=>$_GET['mdm']))}">查看</a> |
                      <a href="{:U('jiaolian_edit',array('id'=>$vo[id],'mdm'=>$_GET['mdm']))}">编辑</a> |
                      <a href="{:U('jiaolian_del',array('id'=>$vo[id],'mdm'=>$_GET['mdm']))}" class="del">删除</a>
                  </td>
                </tr>
              </volist>
            </tbody>
          </table>
        </div>
      </div>
      </if>
      <div class="page"> {$_page|default=''} </div>
      <!-- <div class="page" id="page"> {$_page} </div> -->
    </section>
  </div>
</block>
<block name="script"> 
  <script type="text/javascript">
$(function(){
	
})
$( '.del' ).click( function () {
				return confirm('确认要执行删除操作吗？');
    });
function playSound(id,obj){
	var audio = document.getElementById(id);
	if(audio.paused){
		audio.play();
		$(obj).find('img').attr('src',IMG_PATH+'/icon_sound_play.gif');
		audio.addEventListener('ended', function () {  
// 			alert('over');
			$(obj).find('img').attr('src',IMG_PATH+'/icon_sound.png');
		}, false);
		return;
	}
	audio.pause();
	$(obj).find('img').attr('src',IMG_PATH+'/icon_sound.png');
	
}

//查询教练
$(".jl_chaxun").click(function(){
    var jl_name = $('#jl_name').val();
    if(jl_name == ''){
      alert('查询教练员名字不能为空!');
      return false;
    }else{
      var skip_url =   "http://" + window.location.hostname + window.location.pathname;
      var url = skip_url + "?s=/Home/Jiaolian/jiaolian_list/jl_name/"+jl_name;
      $('.jl_chaxun').attr('href',url);
    }
});
</script> 
</block>
