<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta content="width=device-width,height=device-height,initial-scale=1.0,maximum-scale=1.0,user-scalable=no" name="viewport" />
		<meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="black" name="apple-mobile-web-app-status-bar-style">
	    <meta content="telephone=no" name="format-detection">
	    <meta content="email=no" name="format-detection">
		<title>车辆预约</title>
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/LCalendar.css">
		<link rel="stylesheet" type="text/css" href="{:ADDON_PUBLIC_PATH}/style.css">
		<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/jquery-1.7.1.js"></script>
		<script type="text/javascript" src="{:ADDON_PUBLIC_PATH}/LCalendar.js"></script>
		<style>
			.table{margin-bottom: 10px;}
			.day{float: left;border-radius:5px;padding:2px 4px;border: 1px solid #ddd;width: 23%;text-align: center;position: relative;margin:0.9%;}
			.day1{float: left;padding: 8px;border: 1px solid #ddd;width: 25%;text-align: center;position: relative;}
			.day i{background: url({:ADDON_PUBLIC_PATH}/item_sel.gif) no-repeat;display: none; bottom: 0;height: 12px;overflow: hidden;position: absolute;right: 0;text-indent: -9999em;width: 12px;}
		</style>
	</head>
	<body>

		<header><h1 class="bg-primary" style="background: #feca14;">车辆预约</h1></header>
		<div class="car">
			<ul class="car_all">	
				<li class="row" >
					<label class="col-sm-2 control-label lab">日期：</label>
					<div class="col-sm-10 clear" >
						 <input type="hidden" id="data"  value="" />
						 <input id="demo1" oninput="dateChange()" type="text" readonly="" data-lcalendar="2016-05-11,2016-05-11" style="border-radius: none;"/>
					</div>
				</li>
				<script type="text/javascript">
					// $(document).ready(function () {
						function dateChange(){
							var ch = $("#ch").val();
								var data = $("#data").val();
								var demo1 = $("#demo1").val();
								//alert(demo1);
					    		$.ajax({
						            type:"post",
						            url:"{:addons_url('Forms://Wap/Paiban')}",
						            data:{ch:ch,data:data},
						            dataType:"json",
						            success:function(result){
						            	var status = result.status;
						            	if(status == 0){
						            		$(".tbody").html('');
						            		 var htmls="<p style='text-align:center;margin-top:10%;font-size:16px;'>当前没有可以选择的车辆！</p>";
						            		 $(".tbody").append(htmls);
						            	}else{
						            		$(".tbody").html('');
				                            $("input[name='id']").val('');
						            		var data = eval(result);
											 $.each(data, function (index, item) {
											     //循环获取数据    
											     var id = data[index].id;
											     var time = data[index].time;
											     var ch = data[index].ch;
											     var status = data[index].status;
											     if(status == 1){
											     	var htmls="<div style='background:#ccc;' class='day1'>"+time+"<i></i></div>";
											     }else{
											        var htmls="<div value='"+id+"' class='day'>"+time+"<i></i></div>";
											     }
												$(".tbody").append(htmls);
												
											 }); 
											 
											$(".day").toggle(function(){
												this.style.borderColor= "#f90";
												this.style.borderWidth="2px";
												this.style.padding="1px 3px;";
			                                    var text = $(this).text();
			                                    $(this).find("i").css("display","block");
			                                    var value=this.getAttribute("value")+',';
			                                    // alert(value)
				                                  var data =  $("input[name='id']").val();
				                                  var id = data+value;
				                                 $("input[name='id']").val(id);
											},function(){
												this.style.borderColor= "#ddd";
												this.style.borderWidth="1px";
												this.style.padding = "2px 4px;";
			                                    var value=this.getAttribute("value");
			                                    var strs= new Array(); //定义一数组 
			                                     var data =  $("input[name='id']").val();
			                                     var str = data.substring(0,data.length-1);
			                                    var strs = str.split(",");
			                                    var array = new Array();
			                                    for (i=0;i<strs.length ;i++ )
												{
													if(value != strs[i]){
														array += strs[i]+',';
													}
												} 
												$("input[name='id']").val(array);
												$(this).find("i").css("display","none");
												
											}) 
						            	}
					            	
						            }
						        });
						}
//						$("#demo1").change(function(){
//							
//							// var demo1 = $("#data").val();
//							// alert(demo1);
//						});
					// });
				</script>
				<li class="row" >
					<label class="col-sm-2 control-label lab">车号：</label>
					<div class="col-sm-10 clear">
						<select class="form-control" id="ch" name="ch">
						<?php 
							for($i = 1;$i < 41;$i++){
						?>
						<option value="<?php echo $i; ?>"><?php echo $i; ?></option>
						<?php	 
							}
						?>
						</select>
					</div>
				</li>		
			</ul>
			<div class="data" style="display:none;"></div>
			<input type="hidden" name="id" value="">
			<!--<div class="car_data">
				<table class="table">
					<tbody style="display: block;">-->
			<div class="car_data" style="margin-top: 20px;background: #fff;float: left;padding: 10px;">
				<p style="margin-bottom: 0;">请选择时间段:</p>
				   <div class=".tbody"></div>
					<script type="text/javascript">
						$(document).ready(function () {
							$("#ch").change(function(){
								var ch = $("#ch").val();
								var data = $("#data").val();
								var demo1 = $("#demo1").val();
								//alert(demo1);
					    		$.ajax({
						            type:"post",
						            url:"{:addons_url('Forms://Wap/Paiban')}",
						            data:{ch:ch,data:data},
						            dataType:"json",
						            success:function(result){
						            	var status = result.status;
						            	if(status == 0){
						            		$(".tbody").html('');
						            		 var htmls="<p style='text-align:center;margin-top:10%;font-size:16px;'>当前没有可以选择的车辆！</p>";
						            		 $(".tbody").append(htmls);
						            	}else{
						            		$(".tbody").html('');
				                            $("input[name='id']").val('');
						            		var data = eval(result);
											 $.each(data, function (index, item) {
											     //循环获取数据    
											     var id = data[index].id;
											     var time = data[index].time;
											     var ch = data[index].ch;
											     var status = data[index].status;
											     if(status == 1){
											     	var htmls="<div style='background:#ccc;' class='day1'>"+time+"<i></i></div>";
											     }else{
											        var htmls="<div value='"+id+"' class='day'>"+time+"<i></i></div>";
											     }
												$(".tbody").append(htmls);
												
											 }); 
											 
											$(".day").toggle(function(){
												this.style.borderColor= "#f90";
												this.style.borderWidth="2px";
												this.style.padding="1px 3px";
			                                    var text = $(this).text();
			                                    $(this).find("i").css("display","block");
			                                    var value=this.getAttribute("value")+',';
			                                    // alert(value)
				                                  var data =  $("input[name='id']").val();
				                                  var id = data+value;
				                                 $("input[name='id']").val(id);
											},function(){
												this.style.borderColor= "#ddd";
												this.style.borderWidth="1px";
												this.style.padding = "2px 4px";
			                                    var value=this.getAttribute("value");
			                                    var strs= new Array(); //定义一数组 
			                                     var data =  $("input[name='id']").val();
			                                     var str = data.substring(0,data.length-1);
			                                    var strs = str.split(",");
			                                    var array = new Array();
			                                    for (i=0;i<strs.length ;i++ )
												{
													if(value != strs[i]){
														array += strs[i]+',';
													}
												} 
												$("input[name='id']").val(array);
												$(this).find("i").css("display","none");
												
											}) 
						            	}
					            	
						            }
						        });
							});
						});
					</script>
					<script>
					// setInterval(function() {
					    var myDate = new Date();  
						var ch = $("#ch").val();
						var year = myDate.getFullYear();
					    var month = myDate.getMonth()+1;   
					    var strDate = myDate.getDate(); 
					    if (month >= 1 && month <= 9) {
				            month = "0" + month;
				        }
				        if (strDate >= 0 && strDate <= 9) {
				            strDate = "0" + strDate;
				        }
					    var data = year+'-'+month+'-'+strDate;
			    		$.ajax({
				            type:"post",
				            url:"{:addons_url('Forms://Wap/Paiban')}",
				            data:{ch:ch,data:data},
				            dataType:"json",
				            success:function(result){
				            	var status = result.status;
				            	if(status == 0){
				            		$(".tbody").html('');
				            		 var htmls="<p style='text-align:center;margin-top:10%;font-size:16px;'>当前没有可以选择的车辆！</p>";
				            		 $(".tbody").append(htmls);
				            	}else{
				            		$(".tbody").html('');
		                            $('.data').html('');
				            		var data = eval(result);
									 $.each(data, function (index, item) {
									     //循环获取数据    
									     var id = data[index].id;
									     var time = data[index].time;
									     var ch = data[index].ch;
									     var status = data[index].status;
									     if(status == 1){
									     	var htmls="<div style='background:#ccc;' class='day1'>"+time+"<i></i></div>";
									     }else{
									        var htmls="<div value='"+id+"' class='day'>"+time+"<i></i></div>";
									     }
										$(".tbody").append(htmls);
										
									 }); 
									 $(".day").toggle(function(){
											this.style.borderColor= "#f90";
											this.style.borderWidth="2px";
											this.style.padding="1px 2px";
		                                    var text = $(this).text();
		                                    $(this).find("i").css("display","block");
		                                    var value=this.getAttribute("value")+',';
		                                    // alert(value)
			                                  var data =  $("input[name='id']").val();
			                                  var id = data+value;
			                                 $("input[name='id']").val(id);
										},function(){
											this.style.borderColor= "#ddd";
											this.style.borderWidth="1px";
											this.style.padding = "2px 4px";
		                                    var value=this.getAttribute("value");
		                                    var strs= new Array(); //定义一数组 
		                                     var data =  $("input[name='id']").val();
		                                     var str = data.substring(0,data.length-1);
		                                    var strs = str.split(",");
		                                    var array = new Array();
		                                    for (i=0;i<strs.length ;i++ )
											{
												if(value != strs[i]){
													array += strs[i]+',';
												}
											} 
											$("input[name='id']").val(array);
											$(this).find("i").css("display","none");
											
										}) 
				            	}
				            }
				        });
				       // }, 1000);
					</script>
					<!--</tbody>
				</table>-->
			</div>
			<div style="margin-bottom: 20px;">
				<input type="submit" class="btn" onClick="checkForm()" value="提交订单" style="width: 53%;margin-left: 23%;font-size:18px;background: #feca14;color: #fff;"/>
			</div>
		</div>
		<script type="text/javascript">
			function checkForm(){
				var id = $("input[name='id']").val();
				if(!id){
					alert('请选择时间段！');
					return false;
				}
	    		$.ajax({
		            type:"post",
		            url:"{:addons_url('Forms://Wap/addDingdan')}",
		            data:{id:id},
		            dataType:"json",
		            success:function(result){
		            	if(result.status == 0){
		            		alert(result.msg);
		            	}else if(result.status == 2){
		            		alert("请先填写个人资料！");
		            		window.location.href = result.url;
		            	}else{
		            		alert("添加成功！");
	    					window.location.href = result.url;
		            	}
		            }
		        });
			}
		</script>
	</body>
	<script>
		var calendar = new LCalendar();
	    calendar.init({
	        'trigger': '#demo1', //标签id
	        'type': 'date', //date 调出日期选择 datetime 调出日期时间选择 time 调出时间选择 ym 调出年月选择,
	        'minDate': '1900-1-1', //最小日期
	        'maxDate': new Date().getFullYear() + '-' + (new Date().getMonth() + 2) + '-' + (new Date().getDate() +5)//最大日期
	    });
	    function curDateTime(){  
	        var d = new Date();   
	        var year = d.getFullYear();   
	        var month = d.getMonth()+1;   
	        var date = d.getDate();   
	        var curDateTime= year;  
	        if(month>9)  
	            curDateTime = curDateTime +"-"+month;  
	        else  
	            curDateTime = curDateTime +"-0"+month;  
	        if(date>9)  
	            curDateTime = curDateTime +"-"+date;  
	        else  
	            curDateTime = curDateTime +"-0"+date;  
	        return curDateTime;  
	    }
		$("#demo1").val(curDateTime());
		$("#data").val(curDateTime());
	</script>
</html>
