<extend name="Base/common" />
<block name="body">
	<link rel="stylesheet" type="text/css" href="__STATIC__/dingdan/css/jquery.datetimepicker.css" />
  <script type="text/javascript" src="__STATIC__/dingdan/js/jquery.min.js"></script>
  <script type="text/javascript" src="__STATIC__/dingdan/js/jquery.datetimepicker.js"></script>
  <div class="span9 page_message">
  
    <section id="contents"> <include file="Addons/_nav" />

      <!-- 数据列表 -->
<!--       <div class="data-table" style="margin-top:20px;">
      
        <div class="table-striped">
        <div style="padding-bottom: 20px;">
		<form action="{:U('search',array('mdm'=>I('mdm'),'status'=>0))}" method="post">
        	<input id="data_riqi" type="hidden" value=""/><input type="text" id="datetimepicker" name="datetimepicker" style="width: 145px;margin-bottom: 0;"/>&nbsp;-
        	<input id="data_riqi1" type="hidden" value=""/><input type="text" id="datetimepicker1" name="datetimepicker1" style="width: 145px;margin-bottom: 0;"/>
		<input type="submit" value="搜 索" class="btn" style="margin-right: 40px;">		
        <a class="btn" href="{:U('Download',array('mdm'=>I('mdm')))}">下 载</a>
		</form>
        </div>  
        </div>
        </div> -->
    <div class="data-table">
        <div class="table-striped">
          <table cellspacing="1">
            <!-- 表头 -->
            <thead>
              <tr>
                <th>存款日期</th>
                <th>存款总金额</th>
              </tr>
            </thead>

            <!-- 列表 -->
            <tbody>
              <volist name="cunkuan_list" id="vo">
                <tr>
                  <td type="headimgurl">{$vo.day}</td>
                  <td type="content">{$vo.newcount}元</td>
                </tr>
              </volist>
				<tr>
                  <td colspan="2" align="right" type="headimgurl">5天总计金额：{$sum}元</td>
                </tr>
            </tbody>

          </table>
        </div>
      </div>
      </if>
      <div class="page"> {$_page|default=''} </div>
    </section>
  </div>
</block>
<block name="script">
<script type="text/javascript">

function search(){	
	var datetimepicker = $("#datetimepicker").val();
	var datetimepicker1 =  $("#datetimepicker1").val();
	var dataStr = "datetimepicker="+datetimepicker+"&datetimepicker1="+datetimepicker1;

	$.ajax({
		url:"",
		type:"POST",
		data:dataStr,
		dataType:"json",
		beforeSend:function(){
			$("#beforeCountConfirm").html("正在统计,请稍候....");
		},
		success:function(adminCount){
			$("#beforeCountConfirm").html("统计结束！");
			$("#pietable_all").html("");

		}	
	});
}
window.onload=search;


$(function(){
  
})
$('#datetimepicker').datetimepicker({
	lang:'ch'
});
$('#datetimepicker1').datetimepicker({
	lang:'ch'
});
$( '.del' ).click( function () {
        return confirm('确认要执行删除操作吗？');
    });
function playSound(id,obj){
  var audio = document.getElementById(id);
  if(audio.paused){
    audio.play();
    $(obj).find('img').attr('src',IMG_PATH+'/icon_sound_play.gif');
    audio.addEventListener('ended', function () {  
//      alert('over');
      $(obj).find('img').attr('src',IMG_PATH+'/icon_sound.png');
    }, false);
    return;
  }
  audio.pause();
  $(obj).find('img').attr('src',IMG_PATH+'/icon_sound.png');
  
}
</script> 
</block>
